@use 'src/theme';

.article h1 {
  color: theme.$secondary-accent-color;
}

.article a {
  text-align: center;
  padding: 5px;
  margin: 10px auto;
  color: white;
  width: 100px;
  background-color: theme.$secondary-accent-color;
  border-radius: 5px;
}

.article img {
  max-width: 80%;
}