@use 'src/theme';

.article {
  background-color: theme.$background-color;
  margin: 50px auto;
  border-radius: 25px;
  width: 800px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.article h1 {
  color: theme.$secondary-accent-color;
}

.article a {
  text-align: center;
  padding: 5px;
  margin: 10px auto;
  color: white;
  width: 100px;
  background-color: theme.$secondary-accent-color;
  border-radius: 5px;
}

.article img {
  max-width: 80%;
}